.app-container {
    padding: 0 20px;

}
.el-dialog__body {
    padding: 0 20px;

}
.el-input__inner {
    border-radius: 16px;
    padding:  15px;
    margin:15px 0;

}
.table-title{
    
    .spanheader {
        padding:20px;
        display:inline-block;
        text-align: left
    }
    .iput {
    }
}